extends ../../layout

block content 
    
    
    article(class="my-article") 
        nav(class="my-nav")
            h1 Guardia Municipal
            ul 
                li 
                    a(href="/es/inicio") Denunciar la perdida de un objeto  
        main(class="my-main")
            h1 Objetos Perdidos  
            section(class="my-section")
                div 
                    div
                        a(href="")
                            img(src="/assets/key.jpg", alt="logo") 
                    p Llaves
                div 
                    div
                        a(href="")
                            img(src="/assets/bicicle.jpg", alt="logo") 
                    p Bicicletas
                div 
                    div
                        a(href="")
                            img(src="/assets/bag.jpg", alt="logo") 
                    p Bolsos / Carteras
                div 
                    div
                        a(href="")
                            img(src="/assets/creditCard.jpg", alt="logo") 
                    p Documentación / Tarjetas / Dinero
                div 
                    div
                        a(href="") 
                        img(src="/assets/electronics.jpg", alt="logo") 
                    p Electrónica / Informática / Vehículo 
                div 
                    div
                        a(href="") 
                        img(src="/assets/joyas.jpg", alt="logo") 
                    p Joyas
                div 
                    div
                        a(href="")
                            img(src="/assets/telephones.jpg", alt="logo") 
                    p Telefonos
                div 
                    div
                        a(href="")
                            img(src="/assets/clothes.jpg", alt="logo") 
                    p Ropa
                div 
                    div
                        a(href="")
                            img(src="/assets/other.jpg", alt="logo") 
                    p Otros
        
    
