header
    div(class="nav-logo")
        img(src="/assets/logo.png", alt="logo") 
    nav
        ul 
            li 
                a(href="/es/inicio") Inicio
            li 
                a(href="/es/tramitesYServicios") Trámites y Servicios
            li 
                a(href="/ciudad") Ciudad  
            li 
                a(href="/ayuntamiento") Ayuntamiento
            li 
                a(href="/turismo") Turismo
            li 
                a(href="/agenda2030") Agenda 2030   

